@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  body {
    position: relative;
    /* font-size: 1.2rem; */
    color: rgb(var(--foreground-rgb));
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: url("../../src/assets/hexagon.svg") repeat;
    background-size: 30px;
    background-attachment: fixed;
  }

  input,
  button,
  a {
    border: none;
    outline: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
  }
}
