@import url("./backInDown.css");
@import url("./backOutDown.css");
@import url("./zoomInDown.css");
@import url("./fade-in.css");
@import url("./fade-out.css");
@import url("./flip-in-x.css");

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
